* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background: rgb(215,239,254);
    background: linear-gradient(90deg, rgb(146, 132, 172) 3%, rgb(124, 155, 223) 71%);
   
}

.calculator {
    display: flex;
    flex-direction: column;
    background: rgba(34, 34, 34, 0.767);
    padding: 1rem;
    width: 21rem;
    height: 28rem;
    text-align: center;
    align-items: center;
    border-radius: .5rem;
}

h1 {
    background: rgba(54, 54, 54, 0.014);
    padding: .5rem;
    width: 100%;
    color: #fff;
    font-weight: 100;
}
p {
    content: "";
    max-width: 100%;
    height: 8rem;
    background: rgba(255, 0, 0, 0.014);
    
    margin-top: .5rem;

    color: #fff;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: end;
    text-overflow: clip;
    overflow: hidden;

}

table {
    margin-top: 1rem;
    max-width: 10rem;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .2rem;

    font-size: 1.4rem;
    width: 4rem;
    height: 3rem;

    background: none;
    border: none;
    color: #fff;
    font-weight: 700;
}

button:hover {
    background: rgb(94, 125, 134);
    border-radius: 1rem;
}

button:active {
    filter: brightness(.8);
    transform: scale(.99);
}

 .equal {
     width: 4rem;
    height: 6rem;
    border: 2px solid rgb(94, 125, 134);
    border-radius:1rem ;
}

.zero {
    width: 10rem;
    border: 2px solid rgb(94, 125, 134);
    border-radius:.5rem ;
}
.zero:hover {
    background: rgb(94, 125, 134);
    border-radius:.5rem ;
}


/* medium */
@media (min-width: 700px)  {
    .calculator {
        width: 26rem;
        height: 35rem;
    }

    button  {
        width: 5rem;
        height: 4rem;
    }

    .zero {
        width: 13rem;
    }

    .equal {
        width: 6rem;
        height: 9rem;
    }
    
}


/* large */
@media (min-width: 1024px)  {
    .calculator {
        width: 31rem;
        height: 38rem;

    }

    button  {
        width: 7rem;
        height: 5rem;
        font-size: 1.8rem;
        font-weight: 100;
    }

    .zero {
        width: 14rem;
    }

    .equal {
        width: 7rem;
        height: 11rem;
        font-size: 3rem;
    }
}



